{% include top.html %}

<div class="container">
  <!--   Top padding   -->
  <div class="section">
    <div class="row top-cushion">
    </div>
  </div>

  <!--   Content   -->
  <div class="section">
    <div class="row valign-wrapper">
      <div class="col m5 l5">
        <img class="responsive-img circle hide-on-small-only" src="img/samwolo.png">
      </div>

      <div class="col s12 m7 l7">
          <h5 class="col s12 m12 l12 center valign hello-text">hello [at] samwolo.com</h5>
          <div class="row">
            <h5 class="col s12 m3 l3 center funfont-text"><a href="http://wheres.samwolo.com/" target="_blank">map</a></h5>
            <h5 class="col s12 m3 l3 center funfont-text"><a href="https://www.instagram.com/samwolo/" target="_blank">photos</a></h5>
            <h5 class="col s12 m3 l3 center funfont-text"><a href="https://github.com/swoloszynski" target="_blank">code</a></h5>
            <h5 class="col s12 m3 l3 center funfont-text"><a href="http://gear.samwolo.com/" target="_blank">gear</a></h5>

          </div>
      </div>
    </div>
  </div>
</div>


{% include bottom.html %}
